<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main content"},"className":"site-content","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0","padding":{"top":"5.5rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group site-content" style="margin-top:0;margin-bottom:0;padding-top:5.5rem"><!-- wp:group {"metadata":{"name":"Banner"},"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|xxx-large","bottom":"var:preset|spacing|xxx-large"},"blockGap":"var:preset|spacing|xxx-small"}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--xxx-large);padding-bottom:var(--wp--preset--spacing--xxx-large)"><!-- wp:group {"layout":{"type":"constrained"},"animationGroup":"banner"} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"left","level":1,"style":{"layout":{"columnSpan":1,"rowSpan":1},"typography":{"fontStyle":"normal","fontWeight":"400","letterSpacing":"-0.025em"}},"fontSize":"4xl"} -->
<h1 class="wp-block-heading has-text-align-left has-4-xl-font-size" style="font-style:normal;font-weight:400;letter-spacing:-0.025em">Award-winning development studio based in Denmark.</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast-3"}}}},"textColor":"contrast-3","fontSize":"medium"} -->
<p class="has-contrast-3-color has-text-color has-link-color has-medium-font-size">We are a development studio working at the intersection of design and technology. It’s a really busy intersection though — a lot of our staff have been involved in hit and runs.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"style":{"spacing":{"blockGap":"1rem"}}} -->
<div class="wp-block-buttons"><!-- wp:button {"style":{"spacing":{"padding":{"left":"var:preset|spacing|x-small","right":"var:preset|spacing|x-small","top":"1rem","bottom":"1rem"}}}} -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" style="padding-top:1rem;padding-right:var(--wp--preset--spacing--x-small);padding-bottom:1rem;padding-left:var(--wp--preset--spacing--x-small)">Contact</a></div>
<!-- /wp:button -->

<!-- wp:button {"className":"is-style-button-base","style":{"spacing":{"padding":{"left":"var:preset|spacing|x-small","right":"var:preset|spacing|x-small","top":"1rem","bottom":"1rem"}}}} -->
<div class="wp-block-button is-style-button-base"><a class="wp-block-button__link wp-element-button" style="padding-top:1rem;padding-right:var(--wp--preset--spacing--x-small);padding-bottom:1rem;padding-left:var(--wp--preset--spacing--x-small)">Learn more</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Clients"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|x-large","left":"var:preset|spacing|xx-small","right":"var:preset|spacing|xx-small"}},"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"border":{"radius":"40px"}},"backgroundColor":"contrast","textColor":"base","layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group alignfull has-base-color has-contrast-background-color has-text-color has-background has-link-color" style="border-radius:40px;padding-top:var(--wp--preset--spacing--x-large);padding-right:var(--wp--preset--spacing--xx-small);padding-bottom:var(--wp--preset--spacing--x-large);padding-left:var(--wp--preset--spacing--xx-small)"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"className":"is-style-heading-line","style":{"typography":{"letterSpacing":"0.05em"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"margin":{"bottom":"2.5rem"}}},"textColor":"base","fontSize":"base","animationGroup":"clients"} -->
<h2 class="wp-block-heading is-style-heading-line has-base-color has-text-color has-link-color has-base-font-size" style="margin-bottom:2.5rem;letter-spacing:0.05em">I’ve worked with hundreds of amazing people</h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|x-small"}},"layout":{"type":"grid","minimumColumnWidth":"13rem"}} -->
<div class="wp-block-group"><!-- wp:image {"lightbox":{"enabled":false},"sizeSlug":"full","linkDestination":"none","animationGroup":"clients"} -->
<figure class="wp-block-image size-full"><img src="http://daniloparrajr.local/wp-content/uploads/2024/08/logo-light.ada2d552.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"lightbox":{"enabled":false},"sizeSlug":"full","linkDestination":"none","animationGroup":"clients"} -->
<figure class="wp-block-image size-full"><img src="http://daniloparrajr.local/wp-content/uploads/2024/08/logo-light.5c8de99c.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"lightbox":{"enabled":false},"sizeSlug":"full","linkDestination":"none","animationGroup":"clients"} -->
<figure class="wp-block-image size-full"><img src="http://daniloparrajr.local/wp-content/uploads/2024/08/logo-light.f6ce2960.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"lightbox":{"enabled":false},"sizeSlug":"full","linkDestination":"none","animationGroup":"clients"} -->
<figure class="wp-block-image size-full"><img src="http://daniloparrajr.local/wp-content/uploads/2024/08/logo-light.249606f6.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"lightbox":{"enabled":false},"sizeSlug":"full","linkDestination":"none","animationGroup":"clients"} -->
<figure class="wp-block-image size-full"><img src="http://daniloparrajr.local/wp-content/uploads/2024/08/logo-light.5c8de99c.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"lightbox":{"enabled":false},"sizeSlug":"full","linkDestination":"none","animationGroup":"clients"} -->
<figure class="wp-block-image size-full"><img src="http://daniloparrajr.local/wp-content/uploads/2024/08/logo-light.ada2d552.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"lightbox":{"enabled":false},"sizeSlug":"full","linkDestination":"none","animationGroup":"clients"} -->
<figure class="wp-block-image size-full"><img src="http://daniloparrajr.local/wp-content/uploads/2024/08/logo-light.f6ce2960.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"lightbox":{"enabled":false},"sizeSlug":"full","linkDestination":"none","animationGroup":"clients"} -->
<figure class="wp-block-image size-full"><img src="http://daniloparrajr.local/wp-content/uploads/2024/08/logo-light.249606f6.png" alt=""/></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Work"},"align":"wide","className":"animation-group","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide animation-group" style="padding-top:var(--wp--preset--spacing--xx-large);padding-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:group {"className":"is-animated","layout":{"type":"constrained"},"animationGroup":"article"} -->
<div class="wp-block-group is-animated"><!-- wp:heading {"fontSize":"2xl"} -->
<h2 class="wp-block-heading has-2-xl-font-size">Harnessing technology<br>for a brighter future</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast-3"}}},"spacing":{"margin":{"bottom":"var:preset|spacing|small"}}},"textColor":"contrast-3","fontSize":"medium"} -->
<p class="has-contrast-3-color has-text-color has-link-color has-medium-font-size" style="margin-bottom:var(--wp--preset--spacing--small)">We believe technology is the answer to the world’s greatest challenges. <br>It’s also the cause, so we find ourselves in bit of a catch 22 situation.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":2,"query":{"perPage":3,"pages":"3","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"className":"is-style-equal-grid-height","style":{"spacing":{"blockGap":"2rem"}},"layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"22rem"}} -->
<!-- wp:group {"className":"is-card is-animated","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-small","bottom":"var:preset|spacing|xx-small","left":"var:preset|spacing|xx-small","right":"var:preset|spacing|xx-small"}},"border":{"radius":"25px","width":"1px"}},"borderColor":"base-3","layout":{"type":"constrained"},"animationGroup":"article"} -->
<div class="wp-block-group is-card is-animated has-border-color has-base-3-border-color" style="border-width:1px;border-radius:25px;padding-top:var(--wp--preset--spacing--xx-small);padding-right:var(--wp--preset--spacing--xx-small);padding-bottom:var(--wp--preset--spacing--xx-small);padding-left:var(--wp--preset--spacing--xx-small)"><!-- wp:post-date {"format":"F","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"small"} /-->

<!-- wp:post-title {"level":3,"isLink":true,"className":"is-link-parent","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"large"} /-->

<!-- wp:post-excerpt {"excerptLength":30,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast-3"}}}},"textColor":"contrast-3","fontSize":"base"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Testimonial"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|x-large"}}},"backgroundColor":"base-3","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull has-base-3-background-color has-background" style="padding-top:var(--wp--preset--spacing--x-large);padding-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:group {"layout":{"type":"constrained","contentSize":"1000px","wideSize":"1000px"},"animationGroup":"testimonial"} -->
<div class="wp-block-group"><!-- wp:quote -->
<blockquote class="wp-block-quote"><!-- wp:paragraph {"className":"is-text-wide","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"xl"} -->
<p class="is-text-wide has-xl-font-size" style="font-style:normal;font-weight:500">"The team at Studio went above and beyond with our onboarding, even finding a way to access the user’s microphone without triggering one of those annoying permission dialogs."</p>
<!-- /wp:paragraph --></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Services"},"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--xx-large);padding-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:group {"layout":{"type":"constrained"},"animationGroup":"services"} -->
<div class="wp-block-group"><!-- wp:heading {"fontSize":"2xl"} -->
<h2 class="wp-block-heading has-2-xl-font-size">We help you identify, explore and respond to new opportunities.</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast-3"}}},"spacing":{"margin":{"bottom":"var:preset|spacing|small"}}},"textColor":"contrast-3","fontSize":"medium"} -->
<p class="has-contrast-3-color has-text-color has-link-color has-medium-font-size" style="margin-bottom:var(--wp--preset--spacing--small)">As long as those opportunities involve giving us money to re-purpose old projects — we can come up with an endless number of those.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"top":"0"},"blockGap":{"left":"var:preset|spacing|small"}}}} -->
<div class="wp-block-columns alignwide" style="margin-top:0"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"sizeSlug":"full","linkDestination":"none","style":{"border":{"radius":"40px"}},"animationGroup":"services"} -->
<figure class="wp-block-image size-full has-custom-border"><img src="http://daniloparrajr.local/wp-content/uploads/2024/09/laptop.webp" alt="" style="border-radius:40px"/></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"blockGap":"var:preset|spacing|xx-small","padding":{"right":"var:preset|spacing|x-small"}}}} -->
<div class="wp-block-column is-vertically-aligned-center" style="padding-right:var(--wp--preset--spacing--x-small)"><!-- wp:paragraph {"className":"is-style-default","animationGroup":"services"} -->
<p class="is-style-default"><strong><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-contrast-color">Web development.</mark>&nbsp;</strong>We specialise in crafting beautiful, high quality marketing pages. The rest of the website will be a shell that uses lorem ipsum everywhere.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"className":"is-style-paragraph-top-line","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-small"}}},"animationGroup":"services"} -->
<p class="is-style-paragraph-top-line" style="padding-top:var(--wp--preset--spacing--xx-small)"><strong><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-contrast-color">Application development.</mark></strong>&nbsp;We have a team of skilled developers who are experts in the latest app frameworks, like Angular 1 and Google Web Toolkit.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"className":"is-style-paragraph-top-line","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-small"}}},"animationGroup":"services"} -->
<p class="is-style-paragraph-top-line" style="padding-top:var(--wp--preset--spacing--xx-small)"><strong><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-contrast-color">E-commerce.</mark></strong>&nbsp;We are at the forefront of modern e-commerce development. Which mainly means adding your logo to the Shopify store template we’ve used for the past six years.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"className":"is-style-paragraph-top-line","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-small"}}},"animationGroup":"services"} -->
<p class="is-style-paragraph-top-line" style="padding-top:var(--wp--preset--spacing--xx-small)"><strong><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-contrast-color">Custom content management.</mark></strong>&nbsp;At Studio we understand the importance of having a robust and customised CMS. That’s why we run all of our client projects out of a single, enormous Joomla instance.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->